html,
body {
  padding: 0;
  margin: 0;
  font-family: Garamond, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 200px;
  max-height: auto;
}

button {
  cursor: pointer;
}
